<h2>Delete an item</h2>

  <% if TODOS.todos.empty? %>
    <p>Your to-do list is empty. <a href="/add_todo">Let's add a new item</a></p>
  <% else %>
    <div class="">
      <form method="post" action="/delete_todo">
        <fieldset>
          <label for="index">Item number to delete:</label>
          <input type="number" name="index" id="index" min="1" max="<%= TODOS.todos.length %>" value="1">
        </fieldset>
        <input type="submit">
      </form>
    </div>
    <div class="content">
      <% TODOS.todos.each_with_index do |todoentry, index| %>
        <% if todoentry[:completed] == true %>
          <p class="todo completed"><%= index + 1 %>: <%= todoentry[:todo] %></p>
        <% else %>
          <p class="todo incomplete"><%= index + 1 %>: <%= todoentry[:todo] %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>

<a href="/">Back to to-do list</a>
